---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Chihuahua-is-dog";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Yoshida DEMO's</h2>
	<ul>
		<li><a href="/webgl_school/">WebGL School works</a></li>
	</ul>
</BaseLayout>

<style lang="scss">
    h2, li{
		text-align: center;
	}
	ul{
		list-style: none;
	}
	a{
		text-decoration: none;
	}
</style>
